html {
    font-family: Courier New, Courier, monospace
}
.main-header, .article-header {
    margin-bottom: 0;
    padding-bottom: 0;
}
.name-div {
    margin-top: 0; 
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.project-tags i + i::before {
    content: ' | '
}

.main-tags .main-tag + .main-tag::before {
    content: ' | '
}