@media only screen and (min-width: 800px) {
    #main-container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }  
}

#me_image {
	 border-radius: 150px;
	 margin: 0 auto;
}

.main-tags .main-tag + .main-tag::before {
    content: ' | '
}

.project-tags i + i::before {
    content: ' | '
}

.home {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-size: 100vw 100vh;
}

.home-wrapper {
    padding-top: 20px;
}

h2 {
	margin-top: 20px;
}

.social-contacts img{
	width:64px;
	height:64px;
	margin: 10px 5px;
}

.article-header {
    margin-top: 20px;
}

.credits {
    margin-top: 40px;
}

#main-container {
    background-color: #c3c9c2;
}